# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
city_weather_df = pd.read_csv("output_data/cities_clean.csv")
city_weather_clean = city_weather_df[["City", "Lat", "Lng", "Max Temp", "Humidity", "Clouds", "Wind Speed", "Country", "Date"]]
city_weather_clean

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Mahibadhoo,3.7833,72.9667,82.47,76,33,17.05,MV,1630073589
1,Guerrero Negro,27.9769,-114.0611,74.23,75,6,3.04,MX,1630073439
2,Rikitea,-23.1203,-134.9692,72.84,71,3,16.82,PF,1630073589
3,Port Elizabeth,-33.9180,25.5701,59.29,51,20,32.21,ZA,1630073590
4,Vaini,-21.2000,-175.2000,66.36,77,75,9.22,TO,1630073590
...,...,...,...,...,...,...,...,...,...
511,Laas,46.6166,10.7002,75.11,33,21,4.61,IT,1630073747
512,Road Town,18.4167,-64.6167,87.21,79,40,14.97,VG,1630073609
513,Yerbogachën,61.2767,108.0108,50.07,67,24,3.60,RU,1630073532
514,Pata,17.7152,121.5018,77.41,84,99,3.76,PH,1630073747
515,Fort Nelson,58.8053,-122.7002,54.99,88,75,6.91,CA,1630073748

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [32]:
 # Configure gmaps
gmaps.configure(api_key="AIzaSyDoMvGwNn0Y4BJxqHNGhrshaGqft0FY2YU")

# Store latitude and longitude in locations
locations = city_weather_clean[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = city_weather_clean["Humidity"]
g_key

'AIzaSyDoMvGwNn0Y4BJxqHNGhrshaGqft0FY2YU'

In [33]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
preferred_cities_df = city_weather_clean.loc[(city_weather_clean["Wind Speed"] <= 10) & (city_weather_clean["Clouds"] == 0)].dropna()
preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Max Temp"] >= 60) & (preferred_cities_df["Max Temp"] <= 80)].dropna()
preferred_cities_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
27,Cidreira,-30.1811,-50.2056,60.87,61,0,2.73,BR,1630073596
55,Port Hedland,-20.3167,118.5667,66.25,94,0,0.00,AU,1630073605
86,Straumen,63.8709,11.2999,66.61,55,0,2.98,NO,1630073613
219,San Miguel de Tucumán,-26.8241,-65.2226,66.20,30,0,3.44,AR,1630073654
282,Rindal,63.0565,9.2124,66.31,47,0,4.18,NO,1630073674
412,Rio Grande,-32.0350,-52.0986,62.94,64,0,6.93,BR,1630073632
454,Madera,37.1666,-119.8343,75.42,33,0,3.04,US,1630073729
476,Northam,51.0333,-4.2167,71.47,65,0,9.91,GB,1630073736

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
preferred_cities_with_hotel = preferred_cities_df.loc[:, ["City", "Lat", "Lng", "Country"]]
preferred_cities_with_hotel["Preferred Hotel"] = ""
preferred_cities_with_hotel

                      City      Lat       Lng Country Preferred Hotel
27                Cidreira -30.1811  -50.2056      BR
55            Port Hedland -20.3167  118.5667      AU
86                Straumen  63.8709   11.2999      NO
219  San Miguel de Tucumán -26.8241  -65.2226      AR
282                 Rindal  63.0565    9.2124      NO
412             Rio Grande -32.0350  -52.0986      BR
454                 Madera  37.1666 -119.8343      US
476                Northam  51.0333   -4.2167      GB

In [36]:
query_parameters = {"type" : "hotel",
                  "keyword" : "hotel",
                  "radius" : 5000,
                  "key" : "AIzaSyDoMvGwNn0Y4BJxqHNGhrshaGqft0FY2YU"}


for index, row in preferred_cities_with_hotel.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    query_parameters["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json?", params=query_parameters).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        preferred_cities_with_hotel.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)
    print("--------------------Ending Search")

Retrieving Results for Index 27: Cidreira.
Closest hotel in Cidreira is Hotel Castelo.
--------------------Ending Search
Retrieving Results for Index 55: Port Hedland.
Closest hotel in Port Hedland is Hospitality Port Hedland.
--------------------Ending Search
Retrieving Results for Index 86: Straumen.
Closest hotel in Straumen is Jægtvolden Fjordhotell.
--------------------Ending Search
Retrieving Results for Index 219: San Miguel de Tucumán.
Closest hotel in San Miguel de Tucumán is Garden Plaza.
--------------------Ending Search
Retrieving Results for Index 282: Rindal.
Closest hotel in Rindal is Saga Trollheimen Hotel.
--------------------Ending Search
Retrieving Results for Index 412: Rio Grande.
Closest hotel in Rio Grande is Laghetto Viverone Rio Grande.
--------------------Ending Search
Retrieving Results for Index 454: Madera.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 476: Northam.
Closest hotel in Northam is Premier Inn Bideford Hotel.
--------------------Ending Search

In [39]:
preferred_cities_with_hotel

,City,Lat,Lng,Country,Preferred Hotel,Hotel Name
27,Cidreira,-30.1811,-50.2056,BR,,Hotel Castelo
55,Port Hedland,-20.3167,118.5667,AU,,Hospitality Port Hedland
86,Straumen,63.8709,11.2999,NO,,Jægtvolden Fjordhotell
219,San Miguel de Tucumán,-26.8241,-65.2226,AR,,Garden Plaza
282,Rindal,63.0565,9.2124,NO,,Saga Trollheimen Hotel
412,Rio Grande,-32.0350,-52.0986,BR,,Laghetto Viverone Rio Grande
454,Madera,37.1666,-119.8343,US,,NaN
476,Northam,51.0333,-4.2167,GB,,Premier Inn Bideford Hotel

In [40]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in preferred_cities_with_hotel.iterrows()]
locations = preferred_cities_with_hotel[["Lat", "Lng"]]

In [42]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))