# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
city_weather_df = pd.read_csv("output_data/cities_clean.csv")
city_weather_clean = city_weather_df[["City", "Lat", "Lng", "Max Temp", "Humidity", "Clouds", "Wind Speed", "Country", "Date"]]
city_weather_clean

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Lake Elsinore,33.6681,-117.3273,90.59,53,4,5.77,US,1629664838
1,Athabasca,54.7169,-113.2854,56.23,78,100,3.53,CA,1629664838
2,Bredasdorp,-34.5322,20.0403,47.52,87,0,3.44,ZA,1629664254
3,Port Alfred,-33.5906,26.8910,57.09,76,0,5.86,ZA,1629664255
4,Hobart,-42.8794,147.3294,50.11,81,75,1.99,AU,1629664242
...,...,...,...,...,...,...,...,...,...
599,Jinchang,38.4953,102.1739,62.67,32,68,6.33,CN,1629665011
600,São Miguel do Araguaia,-13.2750,-50.1628,89.46,21,0,6.11,BR,1629665012
601,Albacete,38.8333,-2.0000,83.19,26,0,6.91,ES,1629665012
602,Patiya,22.2931,91.9762,75.67,96,100,4.52,BD,1629665013
603,Mumford,5.2618,-0.7590,75.88,87,48,4.70,GH,1629665013

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure